<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>

	<h3 th:text="${titulo}"></h3>
	<br>

	<p th:if="${casaInversionistas.isEmpty()}"> La Lista esta vacia </p>

	<a href="form">Nuevo Campo</a>
	<a href="/">Index</a>

	<table>
		<thead>
			<tr>
				<th>Id Casa Inversionista</th>
				<th>Nombre Oferta</th>
				<th>Plazos</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="casainversionista : ${casaInversionistas}">
				<td th:text = "${casainversionista.getId()}"></td>
				<td th:text = "${casainversionista.getNombreOferta()}"></td>
				<td th:text = "${casainversionista.getPlazos()}"></td>
				<td> <a th:href="@{form/} + ${casainversionista.getId()}" th:text="Editar"></a> </td>
				<td> <a th:href="@{eliminar/} + ${casainversionista.getId()}" th:text="Eliminar" onclick="return confirm('¿Desea eliminar el banco?');"></a> </td>
			</tr>
		</tbody>
	</table>
</body>
</html>