<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<meta charset="UTF-8">
	<title th:text="${titulo}"></title>
	</head>
<body>

	<h3 class="text-center" th:text="${titulo}"></h3>
	<br>

	<div>
		<p class="text-center bg-warning w-50 mx-auto" th:if="${cuentas.isEmpty()}"> La Lista esta vacia </p>
		<p class="text-center bg-warning w-50 mx-auto" th:if="${mensaje != null}" th:text="${mensaje}"></p>
	</div>

	<div class="text-center" style="margin-bottom: 3vh;">
		<a class="btn btn-primary" href="form">Nuevo Campo</a>
		<a class="btn btn-primary" href="/">Index</a>
	</div>

	<table class="mx-auto w-75 text-center table table-striped table-bordered">
		<thead>
			<tr>
				<th>Numero De Cuenta</th>
				<th>Id Cuenta</th>
				<th>Saldo Actual</th>
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cuenta : ${cuentas}">
				<td th:text = "${cuenta.getNumeroDeCuenta()}"></td>
				<td th:text = "${cuenta.getId()}"></td>
				<td th:text = "${cuenta.getSaldoActual()}"></td>
				<td> <a class="btn btn-warning" th:href="@{form/} + ${cuenta.getId()}" th:text="Editar"></a> </td>
				<td th:if="${eliminar}"> <a class="btn btn-danger" th:href="@{eliminar/} + ${cuenta.getId()}" th:text="Eliminar" onclick="return confirm('¿Desea eliminar la Cuenta?');"></a> </td>
				<td th:if="${!eliminar}"> <a class="btn btn-danger disabled" th:text="Eliminar" onclick="return alert('Su cuenta tiene tarjetas pendientes');"></a> </td>
			</tr>
		</tbody>

	</table>
</body>
</html>