<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="ISO-8859-1">
    <title>Mi aplicacion</title>
</head>
<body>
    <div class="text-center">
        <h1>Bienvenido a mi aplicacion de Bootspring y thymeleaf</h1>
        <img th:src="@{/images/jmgo_logo.png}" alt="">
    </div>
    <div class="text-center" style="margin-top: 5vh;">
        <a class="btn btn-info" href="banco/list">Banco</a>
        <a class="btn btn-info" href="casainversionista/list">Casa Inversionista</a>
        <a class="btn btn-info" href="cliente/list">Clientes</a>
        <a class="btn btn-info" href="cuenta/list">Cuentas</a>
        <a class="btn btn-info" href="empleado/list">Empleados</a>
        <a class="btn btn-info" href="tarjeta/list">Tarjetas</a>
    </div>
</body>
</html>